In [11]:

from sqlalchemy import create_engine
import pandas as pd

In [12]:
engine = create_engine('postgresql://postgres:Sairam897@localhost:5432/mydb')
# postgresql+psycopg2://root:pass@localhost/po"
# dialect+driver://username:password@host:port/database
res = engine.connect()

In [20]:
category_file=pd.read_csv("C:\\Users\\Public\\category.csv")
category_file.to_sql('new_catg',engine,if_exists='replace')

In [21]:
category_file

    category_id         name
0             1        Drama
1             2    Animation
2             3     Children
3             4     Classics
4             5       Comedy
5             6       Action
6             7  Documentary
7             8        Games
8             9      Foreign
9            10       Horror
10           11       Travel
11           12        Music
12           13       Family
13           14       Sci-Fi
14           15       Sports

In [13]:
res.execute("""drop view if exists sample1 cascade;""")
res.execute("""drop table if exists view1 cascade;""")
res.execute("""drop view if exists view2  cascade;""")
res.execute("""drop view if exists language_view cascade;""")
res.execute("""drop view if exists catg_view cascade;""")
res.execute("""drop view if exists year_view cascade;""")

In [22]:

# sample1
sample1='''create view sample1  as select customer_id as Customer_id, concat(last_name, ' ',first_name) as name,
email,((DATE_PART('year', AGE(CURRENT_DATE, create_date)))*12)+(DATE_PART('month', AGE(CURRENT_DATE, create_date))) 
AS membership_age from customer;'''


# view1-city
view1='''create  view view1 as select  sample1.customer_id,sample1.name,sample1.email,sample1.membership_age,
tab.city as city from(select customer_id,city 
from(select  customer_id, city_id from customer c inner join address a on  c.address_id= a.address_id)  
as sam,city where sam.city_id=city.city_id) as tab inner join sample1 using(customer_id);'''

# view2-revenue
view2='''create  view view2 as select  view1.customer_id,view1.name,view1.email,view1.membership_age,view1.city, tab.revenue 
from(select customer_id,sum(amount) as revenue from payment group by customer_id) as tab inner join view1 using(customer_id);'''





# language_view
language_view='''create view language_view as select customer_id,ARRAY_AGG(distinct lang) Preferred_film_language 
from (WITH cte AS
(select A.customer_id,A.lang,A.count, row_number() over (partition by A.customer_id order by A.count desc) rank 
from (select res.customer_id as customer_id,l.name as lang,count(l.name) as count 
from (select tab.customer_id as customer_id,tab.film_id, film.language_id as language_id 
from(select r.customer_id as customer_id, i.film_id from rental r  inner join inventory i  on  r.inventory_id=i.inventory_id) 
as tab inner join film on tab.film_id=film.film_id) 
as res join language l on res.language_id=l.language_id group by customer_id,l.name order by customer_id,count desc) as A)
select customer_id,lang,count,rank from cte where rank<=5) 
as B
group by customer_id order by customer_id;'''



# year_view
year_view='''create view year_view as select customer_id,ARRAY_AGG( distinct release) preferred_film_year 
from (WITH cte AS
(select A.customer_id,A.year,A.count, row_number() over (partition by A.customer_id order by A.count desc) year_rank 
from 
(select tab.customer_id as customer_id,release_year as year,count(release_year) as count
from(select r.customer_id as customer_id, i.film_id from rental r inner join inventory i  on  r.inventory_id=i.inventory_id) as tab 
inner join film on tab.film_id=film.film_id group by customer_id,film.film_id,release_year order by customer_id) as A)
select customer_id,year,
CASE 
WHEN year > 2010 THEN 'New'
WHEN year > 2000 THEN '00s'
WHEN year > 1990 THEN '90s'
WHEN year < 1990 THEN 'Old'
END AS release,count,year_rank FROM cte where year_rank<=2) as B group by customer_id order by customer_id;'''




# catg_view
catg_view='''create view catg_view as select customer_id,ARRAY_AGG( distinct name) Preferred_film_category 
from (WITH cte AS
(select A.customer_id,A.name,A.count, row_number() over (partition by A.customer_id order by A.count desc) catg_rank
from (select customer_id,name,count(name) as count 
from(select customer_id, category_id from (select customer_id, film_id from rental r inner join inventory i  on  r.inventory_id=i.inventory_id) as tab 
inner join film_category on tab.film_id=film_category.film_id) as res inner join new_catg on res.category_id=new_catg.category_id group by customer_id,name order by customer_id) as A)
select customer_id,name,count,catg_rank from cte where catg_rank <= 5) as B group by customer_id order by customer_id;'''




# create table new_catg(category_id int, name varchar(50))
# COPY new_catg(category_id, name)
# FROM 'C:\Users\Public\category.csv'
# DELIMITER ','
# CSV HEADER;

In [24]:
res.execute(sample1)
res.execute(view1)
res.execute(view2)
res.execute(language_view)
res.execute(year_view)
res.execute(catg_view)

In [31]:
res.execute("""drop view if exists result_view cascade;""")
result_query=''' create view  result_view as 
select view2.customer_id,view2.name,view2.email,view2.membership_age,view2.revenue,language_view.Preferred_film_language,
catg_view.Preferred_film_category,view2.city,year_view.preferred_film_year from view2,language_view,catg_view,year_view 
where view2.customer_id=language_view.customer_id and view2.customer_id=year_view.customer_id and 
view2.customer_id=catg_view.customer_id order by customer_id;'''

In [32]:
res.execute(result_query)

In [34]:
#import psycopg2
df = pd.read_sql_query('select * from "result_view"',con=engine)
df.to_csv("C:\\Users\\HP\\Desktop\\SummitMedia_assignment\\output\\result.csv", index = False)

In [35]:
df

,customer_id,name,email,membership_age,revenue,preferred_film_language,preferred_film_category,city,preferred_film_year
0,1,SMITH MARY,MARY.SMITH@sakilacustomer.org,185.0,118.68,[English ],"[Animation, Classics, Comedy, Documentary, Spo...",Sasebo,[00s]
1,2,JOHNSON PATRICIA,PATRICIA.JOHNSON@sakilacustomer.org,185.0,128.73,[English ],"[Animation, Classics, Drama, Horror, Sports]",San Bernardino,[00s]
2,3,WILLIAMS LINDA,LINDA.WILLIAMS@sakilacustomer.org,185.0,135.74,[English ],"[Animation, Comedy, Drama, Sci-Fi, Travel]",Athenai,[00s]
3,4,JONES BARBARA,BARBARA.JONES@sakilacustomer.org,185.0,81.78,[English ],"[Comedy, Documentary, Foreign, Sci-Fi, Travel]",Myingyan,[00s]
4,5,BROWN ELIZABETH,ELIZABETH.BROWN@sakilacustomer.org,185.0,144.62,[English ],"[Animation, Classics, Family, Games, Sports]",Nantou,[00s]
...,...,...,...,...,...,...,...,...,...
594,595,GUNDERSON TERRENCE,TERRENCE.GUNDERSON@sakilacustomer.org,185.0,117.70,[English ],"[Action, Children, Comedy, Documentary, Music]",Jinzhou,[00s]
595,596,FORSYTHE ENRIQUE,ENRIQUE.FORSYTHE@sakilacustomer.org,185.0,96.72,[English ],"[Classics, Foreign, Games, Music, Sports]",Patras,[00s]
596,597,DUGGAN FREDDIE,FREDDIE.DUGGAN@sakilacustomer.org,185.0,99.75,[English ],"[Action, Children, Foreign, Sci-Fi, Sports]",Sullana,[00s]
597,598,DELVALLE WADE,WADE.DELVALLE@sakilacustomer.org,185.0,83.78,[English ],"[Comedy, Documentary, Foreign, Games, Horror]",Lausanne,[00s]
598,599,CINTRON AUSTIN,AUSTIN.CINTRON@sakilacustomer.org,185.0,83.81,[English ],"[Comedy, Foreign, Games, Sci-Fi, Travel]",Tieli,[00s]